<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %> 

<body>
	
	<% if(locals.loggedIn == null){ %>
		<%- include('./partials/header.ejs') %> 
		
				
		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 
		<% } %>

		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Ingresar</h2>
				</div>
				</div>
				<!-- Show the "ultimos" products -->
				<div class="row">
					<div class="col-12">
						<% console.log(error) %> 
						<%if(error == "noemail"){%>
							<h2 style="text-align:center; color:red;">No existe un usuario con ese email. Intente ingresar nuevamente</h2>
						<%}%>
						<% if (error == "nopassword"){ %> 
							<h2 style="text-align:center; color:red;">La contraseña es incorrecta. Intente ingresar nuevamente</h2>
							<% } %>
							<% if(error == "needLogin"){%>
								<h2 style="text-align:center; color:red;">Tenés que iniciar sesión para poder realizar esa acción.</h2>

							<%} %> 	
							<% if(error == "registerOk"){%>
								<h2 style="text-align:center; color:green;">Te registraste correctamente. Ahora iniciá sesión.</h2>

							<%} %> 
							<% if(error == "registerNo"){%>
								<h2 style="text-align:center; color:red;">El email ingresado ya está registrado. Iniciá sesión.</h2>

							<%} %> 
						
						<%- include('./partials/form.ejs') %> 
					</div>
				</div>

	<!-- Novedades -->
	



	<%- include('./partials/footer.ejs') %> 
</body>

</html>