<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %> 

<body>
	<% if(locals.loggedIn == null){ %>
		<%- include('./partials/header.ejs') %> 

		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 
			<% } %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
	<%- include('./partials/form.ejs', {path : path}) %>


			



			<%- include('./partials/footer.ejs') %> 
</body>

</html>