<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
	<!-- Header -->
	
	<% if(locals.loggedIn == null){ %>
		<%- include('./partials/header.ejs') %> 
		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 
		<% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= posts.title %> </h2> 
			<br>
			<a href="/product/<%=posts.id %>/edit" class="buy-now-button" style="margin: 0 50px;">Editar producto</a>
			<br>
			 
			<% console.log() %>
		<!-- 	<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p> botón editar producto -->
		</div>
		<h2 class="products-title">Creado por: <a href="/profile/<%= posts.dataValues.user.id %>"><%=posts.dataValues.user.name + " " +posts.dataValues.user.lastName%></a></h2>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= posts.image %> " alt="" class="product-detail-img" width="300px" height="auto">
					<p class="product-detail-description"><%= posts.description %> </p>

				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% console.log(comments) %> 
						<% if (comments.length == 0){ %>
<h2>Este producto no tiene comentarios todavía!</h2>
						<% } else{%> 

						<% for(let i=0;i<comments.length;i++){ %> 
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile/"><b> nombre</b> </a> </strong>
								<br>
								 <%= comments[i].comment %> </p>
							</div>
						</article>
						<% } }%> 
						
					<!--	<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">Nombre usuario: </a> </strong>
									Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
							</div>
						</article> -->

					</section>
					<form class="form" action="/comment/add" method="POST">
						<input type="hidden" name="id" value="<%= posts.id %>">
						<input class="form-input" type="text" value="" name="comment" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer.ejs') %> 

</body>	
</html>