<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %> 

<body>
	<% if(locals.loggedIn == null){ %>
		
		<%- include('./partials/header.ejs') %> 

		<h1> Tenés que estar logueado para entrar a esta página!</h1>
		<a href="/"><p>Volver a la página principal</p></a>


		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/profile/edit-email" method="post" class='form'>

                <h1>Cambiá tu email</h1>
              
                <fieldset>
          <% console.log(user); %>
          <input type="hidden" name="id" value=<%=user.id %>>
                  <label for="mail">Email</label>
                  <input required type="text" id="name" name="email" value="<%= user.email %>">
          
                </fieldset>
              
                
                
                <button type="submit">Enviar</button>
              
              </form>

			<!-- Show the "ultimos" products -->
			<% } %>


			<%- include('./partials/footer.ejs') %> 
</body>

</html> 