<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %> 
<body>
	
	<% if(locals.loggedIn == null){ %>
	<%- include('./partials/header.ejs') %> 
	<% } else{ %>
		<%- include('./partials/headerLogueado.ejs') %> 
	<% } %>
	
	<!-- Banner -->
	<div class="container">
		<img src="/images/banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios con más seguidores</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<mostFollowed.length;i++){ %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/profile/<%= mostFollowed[i].id %>" >
						<figure class="product-box_image">
							<img src="/images/users/<%=mostFollowed[i].image%>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= mostFollowed[i]["user.name"] + " " + mostFollowed[i]["user.lastName"] %></h2>
							<p style="font-weight: bold;"><a href="/profile/<%=mostFollowed[i]["user.id"]%>">Seguidores: <%= mostFollowed[i].followers %> </a></p>
						</article>
					</a>
				</section>
			</div>
			<% } %> 
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que siguen más personas</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<following.length;i++){ %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= following[i].id %>" >
							<figure class="product-box_image">
								<img src="/images/users/<%=following[i].image%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= following[i]["user.name"] + " " + following[i]["user.lastName"] %></h2>
								<p>Siguiendo: <%= following[i].following %> </p>
							</article>
						</a>
					</section>
				</div>
				<% } %> 

		</div>
	</div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que más comentaron</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<mostCommentsPosted.length;i++){ %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= mostCommentsPosted[i].id %>" >
							<figure class="product-box_image">
								<img src="/images/users/<%=mostCommentsPosted[i].image%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= mostCommentsPosted[i]["user.name"] + " " + mostCommentsPosted[i]["user.lastName"] %></h2>
								<p>Comentarios publicados: <%= mostCommentsPosted[i].commentsPosted %> </p>
							</article>
						</a>
					</section>
				</div>
				<% } %> 
				
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que más comentarios recibieron</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<mostCommentsReceived.length;i++){ %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= mostCommentsReceived[i].id %>" >
							<figure class="product-box_image">
								<img src="/images/users/<%=mostCommentsReceived[i].image%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= mostCommentsReceived[i]["user.name"] + " " + mostCommentsReceived[i]["user.lastName"] %></h2>
								<p>Comentarios recibidos: <%= mostCommentsReceived[i].commentsReceived %> </p>
							</article>
						</a>
					</section>
				</div>
				<% } %> 
				
	<!-- <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que más publicaciones</h2>
			</div>
			<%# for(let i=0;i<mostPosts.length;i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%#= mostPosts[i].id %>" >
							<figure class="product-box_image">
								<img src="/images/users/<%#=mostPosts[i].image%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%#= mostPosts[i]["user.name"] + " " + mostPosts[i]["user.lastName"] %></h2>
								<p>Cantidad de publicaciones: <%#= mostPosts[i].postsQuantity %> </p>
							</article>
						</a>
					</section>
				</div>
				<%# } %> 
			-->
		</div>
	</div>
	
	<%- include('./partials/footer.ejs') %> 

</body>	
</html>