<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %> 
<body>
	
	<% if(locals.loggedIn == null){ %>
	<%- include('./partials/header.ejs') %> 
	<% } else{ %>
		<%- include('./partials/headerLogueado.ejs') %> 
	<% } %>
	
	<!-- Banner -->
	<div class="container">
		<img src="/images/banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios con más seguidores</h2>
			</div>
			<% for(let i=0;i<mostFollowed.length;i++){ %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/profile/<%= mostFollowed[i].id %>" >
						<figure class="product-box_image">
							<% if(mostFollowed[i].image !== ""){ %>
								<img src="/images/users/<%= mostFollowed[i].image%>" alt="">
								<% } else{%>
									<img src="/images/users/nicobilinkis.png" alt="">
									<% } %>						</figure>
						<article class="product-box_data">
							<h2><%= mostFollowed[i].name + " " + mostFollowed[i].lastName %></h2></a>
							
							<a href="/profile/<%= mostFollowed[i].id %>/followers"><p style="font-weight: bold;">Seguidores: <%= mostFollowed[i].followers %></p></a>
						</article>
					
				</section>
			</div>
			<% } %> 
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que siguen más personas</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<following.length;i++){ %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= following[i].id %>" >
							<figure class="product-box_image">
								<% if(following[i].image !== ""){ %>
									<img src="/images/users/<%= following[i].image %>" alt="">
									<% } else{%>
										<img src="/images/users/nicobilinkis.png" alt="">
										<% } %>							</figure>
									</a>
							<article class="product-box_data">
								<h2><%= following[i].name + " " + following[i].lastName %></h2>
								<a href="/profile//<%= following[i].id %>/following"><p style="font-weight: bold;">Siguiendo: <%= following[i].following %> </p></a>
							</article>
						
					</section>
				</div>
				<% } %> 

		</div>
	</div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que más comentaron</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<mostCommentsPosted.length;i++){ %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= mostCommentsPosted[i].id %>" >
							<figure class="product-box_image">
								<% if(mostCommentsPosted[i].image !== ""){ %>
									<img src="/images/users/<%= mostCommentsPosted[i].image %>" alt="">
									<% } else{%>
										<img src="/images/users/nicobilinkis.png" alt="">
										<% } %>							</figure>
							<article class="product-box_data">
								<h2><%= mostCommentsPosted[i].name + " " + mostCommentsPosted[i].lastName %></h2>
								<p style="font-weight: bold;">Comentarios publicados: <%= mostCommentsPosted[i].commentsPosted %> </p>
							</article>
						</a>
					</section>
				</div>
				<% } %> 
				
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios que más comentarios recibieron</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0;i<mostCommentsReceived.length;i++){ %> 
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= mostCommentsReceived[i].id %>" >
							<figure class="product-box_image">
								<% if(mostCommentsReceived[i].image !== ""){ %>
									<img src="/images/users/<%= mostCommentsReceived[i].image %>" alt="">
									<% } else{%>
										<img src="/images/users/nicobilinkis.png" alt="">
										<% } %>
							</figure>
							<article class="product-box_data">
								<h2><%= mostCommentsReceived[i].name + " " + mostCommentsReceived[i].lastName %></h2>
								<p style="font-weight: bold;">Comentarios recibidos: <%= mostCommentsReceived[i].commentsReceived %> </p>
							</article>
						</a>
					</section>
				</div>
				<% } %> 
				
	<<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Usuarios con más publicaciones</h2>
			</div>
			<% for(let i=0;i<mostPosts.length;i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/profile/<%= mostPosts[i].id %>" >
							<figure class="product-box_image">
								<% if(mostPosts[i].image !== ""){ %>
									<img src="/images/users/<%= mostPosts[i].image %>" alt="">
									<% } else{%>
										<img src="/images/users/nicobilinkis.png" alt="">
										<% } %>							</figure>
							<article class="product-box_data">
								<h2><%= mostPosts[i].name + " " + mostPosts[i].lastName %></h2>
								<p>Cantidad de publicaciones: <%= mostPosts[i].postsQuantity %> </p>
							</article>
						</a>
					</section>
				</div>
				<% } %> 
			
		</div>
	</div>
	
	<%- include('./partials/footer.ejs') %> 

</body>	
</html>