<!DOCTYPE html>
<html lang="es">
	

<%- include('./partials/head.ejs') %> 

<body>
	<% if(locals.loggedIn == null){ %>
		<%- include('./partials/header.ejs') %> 



		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 
		<% } %>

		<%- include('./partials/form.ejs', {path : path}) %>

	<!-- Novedades -->
	
			<!-- Show the "ultimos" products -->


			<%- include('./partials/footer.ejs') %> 
</body>

</html>