<!DOCTYPE html>
<html lang="es">
	

<%- include('./partials/head.ejs') %> 

<body>
	<% if(locals.loggedIn == null){ %>
		<%- include('./partials/header.ejs') %> 



		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 
		<% } %>
<% if(error == "erase"){ %>
	<h2 style="text-align:center; color:green;">Borraste tu cuenta correctamente. Si querés, podés volver a registrarte.</h2>
<% } %>
		<%- include('./partials/form.ejs', {path : path}) %>

	<!-- Novedades -->
	
			<!-- Show the "ultimos" products -->


			<%- include('./partials/footer.ejs') %> 
</body>

</html>