<!DOCTYPE html>
<html lang="es">
	

<%- include('./partials/head.ejs') %> 

<body>
	<% if(locals.loggedIn == null){ %>
		<%- include('./partials/header.ejs') %> 

		<%- include('./partials/form.ejs', {path : path}) %>


		<% } else{ %>
			<%- include('./partials/headerLogueado.ejs') %> 
	<h1>Ya estás logueado!</h1>

		<% } %>


	<!-- Novedades -->
	
			<!-- Show the "ultimos" products -->


			<%- include('./partials/footer.ejs') %> 
</body>

</html>